{% extends 'accounts/base.html' %}
{% load static %}
{% block title %}{{slug}}{% endblock title %}


{% block content %}

<div class="container mt-5 mb-5">
    <div class="row">
        <h2 class='text-center'>{{slug}} You Should Not Miss</h2>
        {% for product in products %}
        <div class="col-sm-4 my-3">
           <div class="card azure">
               <div class="row">
                   <div class="col-sm-6">
                       <img src="{{product.image.url}}" class='img-fluid rounded p-img img-thumbnail' alt="Product Image">
                   </div>
                   <div class="col-sm-6 mt-2">
                       <p class="lead fw-bolder ps-2">{{product.category}}</p>
                       <p class="lead fw-bolder ps-2">{{product.title}}</p>
                   </div>
                   <div class="text-muted mt-3 lead">
                       <p class='px-2'>Last Updated : {{product.updated}}</p>
                       <span class='px-2'>Created : {{product.created}}</span>
                       <a href="{% url 'product_detail' product.id %}" class='btn btn-primary ms-2 more'>More</a>
                   </div>
               </div>
           </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}